#title .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

#title article {
  display: grid;
}
