header {
  height: 80px;
  position: relative;
  z-index: 20;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

header .logo {
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

header .logo a {
  text-decoration: none;
  color: white;
}

header .links {
  display: flex;
  align-items: center;
}

header .links a {
  padding: 20px 10px;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

header .links a:hover {
  color: grey;
}

header .links a:last-child {
  padding-right: 0;
}

.user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

header .links img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}